section {
  padding-block: 80px;
  padding-inline: var(--defaultPadding);
}

section#first {
  padding-top: 130px;
}

.navcontainer .navbar .navlink:nth-child(3) {
  text-shadow: 1px 0px 0.5px black;
  scale: 1.05;
  transition: ease-in-out 0.3s;
}

#first .innerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#first .innerContainer .column:nth-child(3) {
  border: 1px dashed gray;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

#first .cardcontainer {
  display: flex;
  gap: 90px 100px;
  align-items: flex-start;
  flex-wrap: wrap;
}

#first .cardcontainer.card {
  align-items: center;
}

h3.description {
  line-height: 0.4;
}

p.nameTitle {
  line-height: 0;
}

p.sectionParag {
  padding: 30px;
}

.card {
  max-width: 500px;
}

#first .sectionTitle {
  display: flex;
  justify-content: center;
}

.sectionTitle {
  font-size: 52px;
  margin-left: 20px;
  line-height: 0;
}

#first .column:nth-child(2) {
  border: 1px dashed gray;
  display: flex;
  justify-content: center;
  gap: 30px;

}

.keyvisual {
  object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 30px 50px -12px #0000008c;
  width: 350px;
  height: 350px;
}

.keyvisual:hover {
  border-radius: 16px;
  scale: 1.03;
  transition: ease-in-out 0.3s;
}