section {
  /* border: 1px dashed gray; */
  padding-block: 80px;
  padding-inline: var(--defaultPadding);
}

#intro .innerContainer {
  display: flex;
  align-items: center;
  /* border: 1px dashed gray; */
  /* padding: 20px; */
}

#academic .innerContainer {
  display: flex;
  align-items: center;
}

#intro .innerContainer .column {
  flex: 1;
}

#academic .innerContainer .column {
  flex: 1;
}

#intro .innerContainer .column:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#intro .innerContainer .column:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

#academic .innerContainer .column:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#academic .innerContainer .column:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.sectionTitle {
  font-size: 52px;
  margin: 0px;
}

#intro .sectionTitle {
  line-height: 1;
}

#family .sectionTitle {
  line-height: 1;
}

#academic .sectionTitle {
  line-height: 2;
}


#section .sectionTitle {
  line-height: 1;
}


.button {
  background-color: black;
  border-radius: 9px;
  text-decoration: none;
  color: white;
  padding: 15px 27px;
}

#family .button {
  margin: 20px;
  display: inline-block;
}

.button:hover {
  opacity: 0.7;
  transition: ease-in-out 0.2s;
  /* background-color: rgba(0, 0, 0, 0.685); */
}


.keyvisual {
  border-radius: 16px;
  box-shadow: 0 30px 50px -12px #0000008c;
}

.keyvisual:hover {
  border-radius: 16px;
  scale: 1.03;
  transition: ease-in-out 0.3s;
  box-shadow: 0 30px 50px -12px #0000008c;
}


#family .keyvisual {
  border-radius: 16px;
  box-shadow: 0 30px 50px -12px #0000008c;
  margin: 40px;
  max-width: 900px;
}

#academic .keyvisual {
  border-radius: 16px;
  box-shadow: 0 30px 50px -12px #0000008c;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
  max-width: 600px;
  align-items: center;
}

#family {
  background-color: rgb(218, 197, 9);

}

#family .innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px dashed gray; */
}

#family .innerContainer .column {
  text-align: center;
}